/* Website Styles */

*{
  font-size:100%;
}

body {
  background-color: Plum;
  color: LightPink;
  font-family: 'Sansita Swashed';
  font-size: 14px;
}
h1 {
  color: red;
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px:
}
